                    /* #region default */
.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
 }
 /* reset */
  ul, ol {
list-style-type: none;
margin: 0;
padding: 0;
 }

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

 a {
    text-decoration: none;
 }

img {
    display: block;
    max-width: 100%;
}
button{
    cursor: pointer;
}

/* common */
 .container {
max-width: 320px;
padding: 0 16px;
margin: 0 auto;
 }

 @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
         }
 }

 @media screen and (min-width: 1158px) {
    .container{
        max-width: 1158px;
        padding: 0 15px;
         }
 }
                    /* #endregion default */


                    /* #region header */

 .page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .nav-list,
    .contacts {
          display: none;
    }


    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    }
    
    .header-logo{
        padding: 16px 0;
        display: block;
        }
        
        .header-logo .logo-part {
            color: #2e2f42;
        }

        .burger-btn{
            padding: 0;
            border: none ;
            background-color: transparent;
        }
        .burger-icon{
        display: block;
        fill: #2f2f37;

        }

        @media screen and (min-width: 768px) {
            .burger-btn{
         display: none;
        }

        .nav-list{
            display: flex;
            align-items: center;
        gap: 40px;
        }

        .header-logo{
            padding: 24px 0;
          margin-right: 120px;
            }

            .header-nav {
                display: flex;
                align-items: center;
                }

            .nav-link{
                display: block;
                padding: 24px 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
             transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            
            .nav-link.current{
                position: relative;
            }
            
            .nav-link.current::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            
            width: 100%;
            height: 4px;
            
            background-color: #404bbf;
            border-radius: 2px;
            
            }
            

        .contacts {
            font-style: normal;
            display: block;
        }
        .contacts-list{
            display: flex;
            flex-direction: column;
            gap: 12px;
            }

            .contacts-link {
                display: block;
                font-size: 12px;
                line-height: 1.17;
                letter-spacing: 0.04em;
                color: #434455;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
                
            
            .nav-link:hover,
            .nav-link:focus,
            .contacts-link:hover,
            .contacts-link:focus,
            .nav-link.current {
            color: #404bbf;
            }
         }

         @media screen and (min-width: 1158px) {
            .header-logo{
                margin-right: 76px;
                }
                .contacts-list{
                    flex-direction: row;
                    align-items: center;
                    gap: 40px;
                    }

                    .contacts-link {
                        padding: 24px 0;
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                        }
         }

         /* #endregion header*/


                    /* #region mobile menu  */

         .mobile-menu{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ffffff;

            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
             visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

        }
        .mobile-menu.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;

}
.mobile-menu-container{
    position: relative;
padding-top: 72px;
padding-bottom: 40px;
display: flex;
flex-direction: column;
height: 100%;
}
/* mobile-menu-close */
.mobile-menu-close{
    position: absolute;
    top: 24px;
    right: 24px;
    min-height: 24px;
    width: 24px;

    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    
    border-radius: 50%;
    background-color: #ffffff;
    }
    
    .mobile-menu-close:hover,
    .mobile-menu-close:focus{
       background-color: #404bbf;
       fill: #ffffff;
       border: none;
    }
/* mobile nav */
    .mobile-menu-nav{
        margin-bottom: auto;
    }

   .mobile-nav-link{
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;
   }
   .mobile-nav-link:hover {
    color: #404bbf;
   }

   .mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap:40px;
   }
/* addrres */
   .mobile-contacts-link{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
   }


   .mobile-contacts-list{
    display: flex;
    flex-direction: column;
    gap:24px;
   }
/* social */
.icon-mobile-link{
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: #f4f4fd;

    width: 40px;
    height: 40px;
    padding: 8px;
}

.social-mobile-list {
    display: flex;
     align-items: center;
     gap:24px;

}

.social-mobile-item{
    display: flex;
}
.social-mobile-box-header {
margin-top: 48px;
}

             @media screen and (min-width: 768px) {

                .mobile-menu{
               display: none;
                }
             }
/* #endregion mobile menu */


                    /*#region hero */
.div-hero{
   padding-top: 72px; 
    padding-bottom: 72px;
    background-color: #2e2f42;
    background-repeat: no-repeat;
    max-width: 320px;
    background-position: center;
    background-image: linear-gradient( rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),url(../image/people-office-mobile.jpg);
    }

    @media screen and (max-width: 768px) and (min-resolution: 192dpi){
        .div-hero
        {
            max-width: 320px;
            background-image: linear-gradient( rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),url(../image//people-office-mobile@2x.jpg);
        }
    }


    .hero-title{
        color: #ffffff;
        max-width: 216px;
        margin: 0 auto;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 72px;
        }


.hero-button{
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    display: flex;
    margin: 0 auto;
    color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    }

    .hero-button:hover,
    .hero-button:focus
    {
        background: #404bbf;
    }

    @media screen and (min-width: 768px) {
        .div-hero{
            padding-top: 112px; 
             padding-bottom: 112px;
             max-width: 768px;
             background-image: linear-gradient( rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)),url(../image/people-office-tablet.jpg);
             }

             .hero-title{
                max-width: 496px;
                font-size: 56px;
                line-height: 1.07;
                margin-bottom: 36px;
                }
    }

    @media screen and (min-width: 768px) and (min-resolution: 192dpi){
        .div-hero 
        {
            max-width: 768px;
            background-image: linear-gradient( rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),url(../image//people-office-tablet@2x.jpg);
        }
    }


    
    @media screen and (min-width: 1158px) {

        .div-hero {
            padding-top: 188px;
            padding-bottom: 188px;
          max-width: 1440px;
        background-image: linear-gradient( rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),url(../image/people-office-desktop.jpg);
            }

            .hero-title{
                max-width: 496px;
                margin-bottom: 48px;
                }
    }

    @media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
        .div-hero 
        {
            max-width: 1440px;
            background-image: linear-gradient( rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),url(../image/people-office-desktop@2x.jpg);
        }
    }

    /*#endregion hero */


                    /*#region principles */

   .principles-icon-div{
    display: none;
   }

.principles-div{
padding-bottom: 96px ;
padding-top: 96px ;
}
.core-principles-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.principles-list{
display: flex;
flex-wrap: wrap;
gap: 72px;
}
.core-principles-text{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.principles-text-title-box{
   max-width: 288px;
}

.principles-item{
    width: 100%;
}

@media screen and (min-width: 768px) {

    .principles-item{
        width:calc((100% - 24px)/2);
    }
    .principles-list{
        gap: 24px;
        row-gap: 72px;
        }

    .principles-text-title-box{
     max-width: 356px;
    }
}

@media screen and (min-width: 1158px) {

    .principles-div{
        padding-bottom: 120px ;
        padding-top: 120px ;
        }

        .principles-list{
            display: flex;
            gap: 24px;
        }
        .core-principles-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
        }
      
        .core-principles-text{
         font-weight: 400;
        }


        .principles-item{
        width:calc((100% - 72px)/4) ;
        }
        .core-principles-title{
        margin-bottom: 8px;
        }
        
        
        .principles-icon-div{
            display: block;
            border: 1px solid #8e8f99;
            border-radius: 4px;
            width: 264px;
            height: 112px;
            background: #f4f4fd;
            padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 24px;
        padding-top: 24px;
        margin-bottom: 8px;
        }
}
                                 /* #endregion */


                    /* #region Our team */

.Our-Team-div{
background-color: #f4f4fd;
padding-left: 12px;
padding-right: 12px;
}


.workers-list{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 72px;
   padding-bottom: 120px;
}

.Our-Team-h2{
    padding-top: 96px;
    padding-bottom: 72px;
     margin: 0 auto;
     font-weight: 700;
     font-size: 36px; 
     line-height: 1.10;
     letter-spacing: 0.02em;
     text-align: center;
    color: #2e2f42;
    }

    .image-and-name-worker{
    background-color: #ffffff;
    width: 264px;
    height: 428px;
border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
 0 1px 1px 0 rgba(46, 47, 66, 0.16),
 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.name-work-icon{
    padding-bottom: 32px;
    padding-top: 32px;
    padding-right: 16px;
    padding-left: 16px;
    text-align: center;
}

.worker-name{
padding-bottom: 8px;
}

.icon-social-link{
background-color: #4d5ae5;
border-radius: 50%;
fill: #f4f4fd;

width: 40px;
height: 40px;

padding-left: 12px;
padding-right: 12px;
padding-top: 12px;
padding-bottom: 12px;
}

.icon-social-link:hover,
.icon-social-link:focus{
    background-color: #404bbf;
}

.social-icon-list-workers{
     display: flex;
     align-items: center;
     gap:24px;
}
.social-icon-item-workers{
    display: flex;
     padding-bottom: 32px;
     padding-top: 8px;
}

@media screen and (min-width: 768px){
    
    
    .workers-list{
        display: flex;
       align-items: center;
       justify-content: center;
       flex-direction:column;
       flex-wrap: wrap;
       flex-direction: row;
       gap: 24px;
       row-gap: 72px;
    }

}

@media screen and (min-width: 1158px){

    .Our-Team-div {
        padding-left: 0;
        padding-right: 0;
    }
    
    .workers-item{
        width: calc((100% - 72px)/4);
        
        }
        .workers-list{
         row-gap: 0;
        }
}




                                 /* #endregion  Our team  */


                    /*#region Our-Portfolio */
.Our-Portfolio-h2{
padding-bottom: 72px;
max-width: 218px;
 margin: 0 auto;
 margin-top: 96px;
 font-weight: 700;
font-size: 36px;
}

.Our-Portfolio-image-and-description{
    background-color: #ffffff;
    width: 288px;
    height: 400px;
    border: 1px solid #e7e9fc;
}

.Our-Portfolio-image-and-description:hover:active {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16),
0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


    .Our-Portfolio-description{
        padding-bottom: 32px;
        padding-top: 32px;
        padding-right: 16px;
        padding-left: 16px;
    }

    .Examples-title{
        padding-bottom: 8px;
        }

        .Our-Portfolio-list{
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap:wrap;
            gap: 48px;
            margin-bottom: 96px;
        }


        .tumba{
position: relative;
overflow: hidden;
}

.text-tumba{
 background-color: #4d5ae5;
 color: #f4f4fd;
       position:absolute;
       top:0;
      left:0;
       width:100%;
      height:100%;
      transform:translateY(100%);
      transition:transform 250ms ease-in-out;
      padding-top: 40px;
      padding-right: 32px;
      padding-left: 32px;
}

.Our-Portfolio-item:hover .text-tumba{
    transform:translateY(0);

}
@media screen and (min-width: 768px){

    .Our-Portfolio-image-and-description{
        width: 356px;
        height: 420px;
        }

        .Our-Portfolio-list{
            display: flex;
            align-items: center;
            gap: 24px;
            flex-direction: row;
            flex-wrap:wrap;
        
        }

}

@media screen and (min-width: 1158px){

    .Our-Portfolio-h2{
        padding-bottom: 72px;
         margin-top: 120px;
        }

    .Our-Portfolio-image-and-description{
        width: 360px;
        height: 420px;
        }

        .Our-Portfolio-image-and-description:hover,
        .Our-Portfolio-image-and-description:focus {
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
     0 1px 1px 0 rgba(46, 47, 66, 0.16),
     0 1px 6px 0 rgba(46, 47, 66, 0.08);
        }

        .Our-Portfolio-list{
            display: flex;
            align-items: center;
            gap: 24px;
            flex-direction: row;
            flex-wrap:wrap;
            margin-bottom: 120px;
        
        }
        

}

                                 /* #endregion Our-Portfolio */


                    /* #region footer*/
.conteiner-footer{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 96px;
    padding-bottom: 96px;
}

/* LOGO */
.footer-logo .logo-part {
    color: #f4f4fd;                 
}
.footer-logo{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
}

.page-footer{
    background-color: #2e2f42;
    }
    
    .footer-text-growth{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
    }

    .footer-social-text,
.footer-subscribe-text{
font-weight: 500;
font-size: 16px;

line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
margin-bottom: 16px;
}
 
.footer-logo-div{
margin-bottom: 16px;

}
 /* Social footer */ 

.icon-social-link-footer{
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: #f4f4fd;
    width: 40px;
    height: 40px;
    padding: 8px;
}

.icon-social-link-footer:hover,
.icon-social-link-footer:focus{
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-list-footer{
    display: flex;
     align-items: center;
     justify-content: center;
     gap:16px;

}

.social-icon-item-footer{ 
    display: flex;
}
.footer-subscribe-text,
.footer-social-text{
    display: flex;
    justify-content: center;
align-items: center;
margin-top: 72px;
}
/* Subscribe-form-footer */

     .email-sub-input{
        border: 1px solid #ffffff;
        border-radius: 4px;
        width: 288px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        outline: none;
        background-color:transparent;
        color: #ffffff;
        padding-left: 16px;
        margin-bottom: 16px;
        }
        
        .email-sub-input:focus{
        border-color: #31d0aa;
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

       

        .sub-btn{
            display: flex;
            align-items: center;
             border-radius: 4px;
             padding: 8px 24px;
             width: 165px;
             height: 40px;
             background-color: #4d5ae5;
             color: #ffffff;
             border: none;
             }
         
             .sub-icon-frame{
                 fill: #ffffff;
                 margin-left: 16px;
             }
             .sub-btn:focus,
             .sub-btn:hover{
                background-color: #31d0aa; 
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
             }
             .sub-btn-div{
                display: flex;
            align-items: center;
            justify-content: center;
             }

             @media screen and (min-width: 768px){
                .footer-social-text,
                .footer-subscribe-text{
                  display: block;
                  margin-top: 0px;
                }
              
                .footer-logo{ 
                    display: block;
                    margin-bottom: 0;
                }
                .conteiner-footer{
                    display: flex;
                    flex-wrap:wrap;
                    align-items: baseline; 
                    justify-content: flex-start;
                    gap: 24px;
                    row-gap: 72px;
                    padding-left: 108px;
                    padding-right: 108px;
                    margin-top: 0;
                }
                .email-sub-input{
                    width: 264px;
                }
                .sub-btn-div{
                    display: block;
                 }

                 .Subscribe-box{
                    margin-left: auto;
                 }
                 
                 .form-sub{
                     display: flex;
                     gap: 24px;
                 }

             }
             @media screen and (min-width: 1158px){

                .conteiner-footer{
                  display: flex;
                padding-bottom: 100px;
                padding-top: 100px;
                gap: 0;
                row-gap: 0;
                flex-wrap:nowrap;
                padding-left: 0;
                padding-right: 0;
                }

                .logo-text-cont{
                    margin-right: 120px;
                 }
                 .footer-logo{ 
                    margin-top: 0px;
                }
                
                .subscribe-box{
                  margin-left: auto;
             }
             }

                                 /* #endregion footer */


                    /* #region overlay+modal */

/*#region overlay */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .backdrop.is-open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    /*#endregion overlay */

    /*#region modal */
    .modal{
    position: absolute;
    top: 50%;
    left: 50%; 
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px;
    padding-right: 16px;
     padding-bottom: 16px;
      padding-left: 16px; 
}
    .backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
    }
    
    .modal-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
    }
    
    .close-model-button{
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    /* close */
    .close-model-button{
    position: absolute;
    top: 24px;
    right: 24px;
    min-height: 24px;
    width: 24px;
    
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    
    border-radius: 50%;
    fill: #2e2f42;
    background-color: #e7e9fc;
    display: flex; 
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
    }
    
    .modal-close-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}



    .close-model-button:hover,
    .close-model-button:focus{
       background-color: #404bbf;
       fill: #ffffff;
       border: none;
    }
    /* form */
    .form-label{
        display: block;
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
    }
    
    .form-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    outline: none;
    background-color: transparent; 
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .form-input:focus{
        border: 1px solid #4d5ae5;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
 .form-icon{
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .form-input:focus+ .form-icon{
        fill: #4d5ae5;
    }
    
    
    .form-icon-wrapper{
        position: relative;
    }
    .form-wrapper-cont{
    margin-bottom: 8px;
    }
    /* comment */
    .form-comment-textarea{
        width: 100%;
        height: 120px;
        border-radius: 4px;
        padding: 8px 16px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }

     
    .form-comment-cont{
        margin-bottom: 16px;
    }

    .form-comment-textarea:focus{
        border: 1px solid #4d5ae5;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .form-comment-textarea::placeholder{
        color: rgba(46, 47, 66, 0.4);
    }
    
    /* Custom checkbox */
    .custom-checkbox{
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        fill: transparent;
        width: 16px;
        height: 16px;
        border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition:
     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1),
     fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .checkbox:checked+ .form-checkbox .custom-checkbox{
       border: transparent;
       background-color: #404bbf;
       fill: #f4f4fd; 
    }
    
    .visually-hidden{
        position: absolute;
        visibility: hidden;
    }
    .custom-checkbox{
        margin-right: 8px;
    }
    
    .form-checkbox{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
    }
    .privacy-color{
        line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
    }
    .checkbox-privacy-div{
        margin-bottom: 24px;
    }

    
    /* form button */
    .form-button-send{
        display: block;
        margin: 0 auto;
     border-radius: 4px;
     min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border: none;
    color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    cursor: pointer;

font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .form-button-send:hover,
    .form-button-send:focus{
        background: #404bbf;
    }
   /*#endregion modal */

@media screen and (min-width: 768px) {
    .modal{
        width: 408px;
        min-height: 584px;
        padding-top: 72px;
        padding-right: 24px;
         padding-bottom: 24px;
          padding-left: 24px; 
    }

}


/*  #endregion overlay+modal  */
